
a:hover {
    color: #034748;
    font-weight: 700;      /*  #f00   */
    text-decoration: none;
}

[class~=card-title],a {
    font-weight: bold;
	color: #599feb;
    text-align: center;
}

[class~=bio-block] {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 auto;
    margin-right: auto;
}

[class~=bm-2] {
    margin-bottom: 2rem;
}

[class~=card] {
    border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
    background-color: transparent;
}

.card-body {
    text-align: center;
    flex-grow: 1;
}

[class~=tooltip] > [class~=tooltip-inner] {
    color: #fff;
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: .017708333in;
    border-left-color: white;
    border-top-style: solid;
    border-bottom-color: white;
    border-right-color: white;
    border-top-color: white;
    border-image: none;
    padding-left: .4375pc;
    padding-bottom: .4375pc;
    padding-right: .4375pc;
    padding-top: .4375pc;
    font-size: .125in;
}

[class~=tooltip][class~=top] > [class~=tooltip-arrow] {
    border-top-color: #ff0;
    border-image: none;
    border-top-width: 1.5pt;
}

.card-text {
    min-height: 3rem;
}

[class~=hero] {
    width: 80%;			/* 100% */
    border-radius: 70%;
    box-shadow: 7.5pt 10px 18.75pt #525252;
    margin-bottom: 0;
}

[class~=hero-div] {
    margin: 0 auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 1rem;
    text-align: center;
}

[class~=tooltip][class~=bottom] > [class~=tooltip-arrow] {
    border-bottom-width: 5px;
    border-bottom-color: #ff0;
    border-image: none;
}

[class~=keyword-magnet] {
    border-right-style: solid;
    border-top-style: solid;
    border-left-color: #2c2c2c;
    border-bottom-color: #2c2c2c;
    border-right-color: #2c2c2c;
    border-top-color: #2c2c2c;
    border-radius: .09in;
    color: #034748;
    font-size: 1.2em;
    line-height: 2.2em;
    margin-right: .1em;
    margin-left: .1em;
    margin-top: .1em;
    margin-bottom: .1em;
    padding-left: 1.5em;
    padding-bottom: .15em;
    padding-top: .15em;
    padding-right: .5em;
    text-shadow: none;
    white-space: pre;
    border-image: none;
    border-left-style: solid;
    border-left-width: .017708333in;
}

[class~=card-img-top] {
    margin: 0 auto;
    margin-right: auto;
    border-radius: 70%;
    box-shadow: 7.5pt 10px 18.75pt #525252;
    margin-bottom: 0;
    max-width: 35%;
}

ul li { color: darkslategray;                            /*    #fafab4    */
}

[class~=tooltip][class~=left] > [class~=tooltip-arrow] {
    border-left-width: .3125pc;
    border-left-style: solid;
    border-left-color: #ff0;
    border-image: none;
}

[class~=page-subtitle] {
    color: #599feb;				/*	#1481BA;  #161616  */
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
}

hr {
    border-top-style: dotted;
    border-image: none;
    border-top-color: #435ccc;
    border-top-width: .3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

ul li:before {
    margin-bottom: 100;
    content: "\25BA";
	color: #599feb;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 0;
}

[class~=section-divider] {
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    margin-bottom: 2rem;
    height: auto;
    margin-top: 2rem;
    opacity: .75;
    width: 90%;
}

p, [class~=page-title] {
    text-align: center;
}

[class~=page-title] {
    font-size: 3.5rem;   /* 3.5em */
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

[class~=section-heading] {
    font-size: 2.5em;
    margin-top: 1.3rem;
    text-align: center;
    color: #034748;
    font-weight: 500;
    margin-bottom: 0rem;
}

section-heading {
    font-weight: 500;
    text-align: center;
}

p {
    color:  #083c5e ;      /*    #0CAADC   #494949    #40403c  #fafab4 */
    font-weight: 300;
    font-size: 1.3rem;
}

section-small-heading {
    color:#083c5e;				/* #f58787 #595959   #fafab4  ver de cambiar color o no */
    margin-bottom: 0rem;
    font-size: 1.1em;
    margin-top: 0;
}

[class~=section-subheading] {
    color: #2e23f7;
    font-size: 1.2em;
    margin-top: 1.2rem;
    margin-bottom: 0;				/*	#faf5f5 #010101  ver si cambiar color o no    #599feb  */
    text-align: center;
    font-weight: 500;
}

[class~=section-description] {
    margin-bottom: 3rem;
    text-align: center;
}

.subsection-divider {
    margin-bottom: 2rem;
}

img {
    height: auto;
}

ul {
    list-style: none;
    margin-left: auto;
    margin-bottom: .8rem;
    margin-right: auto;
    padding-bottom: 30pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 15pt;
    display: table;
    font-size: 1.3rem;
}

[class~=tooltip][class~=right] > [class~=tooltip-arrow] {
    border-right-style: solid;
    border-right-color: #ff0;
    border-right-width: .052083333in;
    border-image: none;
}

.subsection-divider {
    background-image: linear-gradient(to right,rgba(136,159,179,0),rgba(136,159,179,.75),rgba(136,159,179,0));
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-color: currentColor;
    border-bottom-color: currentColor;
    border-right-color: currentColor;
    border-top-color: currentColor;
    border-image: none;
    height: .0625pc;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    margin-top: 2rem;
}

[class~=subsection-heading] {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-shadow: none;
    text-align: center;
}

[class~=copyright-text] {
    text-align: center;
    color: #aaa;
}

footer {
    padding-bottom: 4rem;
    text-align: center;
    padding-top: 1.2rem;
}

@media only screen and (max-width: 767px), only screen and (max-height: 550px) {
    body {
        border-width: 2rem 3rem;
        border-style: solid;
        border-color: transparent;
        border-image: none;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.keywords-container {
    text-align: Center;
    width: 100%; /* Usa el 100% del ancho disponible */
}

/* Agrega un margen entre los elementos .keyword-magnets */
.keyword-magnet {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 3px;
    margin: 5px 10px; /* Margen horizontal de 10px y margen vertical de 5px */
    font-size: 16px;
}

/* Ajusta el tamaño de fuente para pantallas más pequeñas */
@media (max-width: 768px) {
    .keyword-magnet {
        font-size: 14px; /* Disminuye el tamaño de fuente para pantallas más pequeñas */
    }
}

/* Ajusta el tamaño de fuente para pantallas aún más pequeñas */
@media (max-width: 576px) {
    .keyword-magnet {
        font-size: 12px; /* Disminuye aún más el tamaño de fuente para pantallas más pequeñas */
    }
}

@font-face {
  font-family: "Julius";
  src: url("../fonts/JuliusSansOne-Regular.ttf") format("truetype");
  
}

body {
  font-family: "Julius", sans-serif;
  background-color: #fffdf7;
}

#certificatesContainer {
    text-align: center;
}

#certificatesContainer img {
    max-width: 50%;
    height: auto;
    margin: 0 auto 30px; /* Center horizontally, add bottom margin */
}

.card.h-100 {
    display: flex;
    flex-direction: column;
    justify-content:center;
    flex-grow: 1;
}

.card.h-100 img {
    object-fit: cover;
}

.card.h-100 a.btn {
    margin-top: auto;
}


.card .card-img-top {
    width: 600px;  /* Ajusta el ancho deseado en píxeles */
    height: 140px;  /* Ajusta la altura deseada */
    object-fit: cover;
}

.proyecto img.card-img-top {
    width: 50%;  /* Hacer que las imágenes ocupen el ancho completo del contenedor */
    height: 100px;  /* Ajustar automáticamente la altura según el ancho */
    object-fit: cover;  /* Ajustar la imagen sin distorsionar */
}




